endpoints:
  restart:
    enabled: true
  shutdown:
    enabled: true
  health:
    sensitive: false
  
eureka:
  client:
    instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}} 
    fetchRegistry: true
